{% extends 'index.html' %}
{% load static %}
{% block title %}Serie Single {% endblock %}

{% block content %}
<div class="single__movie dark:bg-gray-950">
    <!-- VIDEO PLAYER -->
    <div class="single__movie-video_player container">
        <!-- bu yerda har bir fil uchun preview image kerak bo'ladi -->
        <!-- models orqali yaratiladi -->
        <video controls id="videoSingle">
            {% if first_episode.video %}
            <source src="{{ first_episode.video.url }}" type="video/mp4">
            {% endif %}
        </video>
        <i class="fa-solid fa-circle-play custom-play"></i>
    </div>
    <!-- VIDEO PLAYER -->

    <!-- VIDEO DETAILS -->
    <div class="single__movie-details dark:bg-gray-900 bg-slate-200 container">
        <div class="single__movie-detail-center">
            <div class="single__movie-detail-center-card" style="background-image: url({{ serie.card.url }});">
            </div>
            <div class="single__movie-detail-center-content border-slate-400 dark:border-slate-800">
                <h4 class="text-slate-950 dark:text-zinc-50">{{ serie.title | safe }}
                    <span data-twe-toggle="modal" data-twe-target="#trailerModalSerie" data-twe-ripple-init
                        data-twe-ripple-color="light" class="trailer_span">
                        <i class="fa-solid fa-play"></i> Trailer
                    </span>
                </h4>
                <p class="text-slate-600 dark:text-slate-400">{{ serie.description }}</p>
                <div class="single__movie-detail-center-content-row">
                    <div class="single__movie-detail-center-content-row-col">
                        <div class="single__movie-detail-center-content-row-col-item">
                            <strong class="text-slate-950 dark:text-zinc-50">Janr: </strong>
                            {% for gen in serie.genre.all %}
                            <a href="#" class="text-cyan-500">
                                {{ gen.name }}
                                {% if not forloop.last %},{% endif %}
                            </a>
                            {% endfor %}
                        </div>
                        <div class="single__movie-detail-center-content-row-col-item">
                            <a href="#" class="text-cyan-500">
                                <strong class="text-slate-950 dark:text-zinc-50">Rejissor: </strong>
                                {{ serie.director }}</a>
                        </div>
                        <div class="single__movie-detail-center-content-row-col-item">
                            <a href="#" class="text-cyan-500">
                                <strong class="text-slate-950 dark:text-zinc-50">Actors: </strong>
                                {{ serie.actors }}</a>
                        </div>
                        <div class="single__movie-detail-center-content-row-col-item">
                            <strong class="text-slate-950 dark:text-zinc-50">Davlati: </strong>
                            {% for con in serie.countries %}
                            <a href="#" class="text-cyan-500">
                                {{ con.code }}
                                {% if not forloop.last %},{% endif %}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="single__movie-detail-center-content-row-col">
                        <div class="single__movie-detail-center-content-row-col-item">
                            <a href="#" class="text-cyan-500">
                                <strong class="text-slate-950 dark:text-zinc-50">Vaqti: </strong>
                                {{ serie.get_formatted_duration }}Nomalum
                            </a>
                        </div>
                        <div class="single__movie-detail-center-content-row-col-item">
                            <strong class="text-slate-950 dark:text-zinc-50">Sifati: </strong>
                            {% for qu in serie.quality.all %}
                            <a href="#"
                                style="color: #fff; background-color: #29B6F6; border-radius: 5px; padding: 0px 5px;">
                                {{ qu.name }}</a>
                            {% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </div>
                        <div class="single__movie-detail-center-content-row-col-item">
                            <a href="#" class="text-cyan-500">
                                <strong class="text-slate-950 dark:text-zinc-50">Chiqish Sanasi: </strong>
                                {{ serie.release_date|date:"Y" }} </a>
                        </div>
                        <div class="single__movie-detail-center-content-row-col-item">
                            <strong class="text-slate-950 dark:text-zinc-50">Rating: </strong>
                            <a href="#"
                                style="color: #fff; background-color: #29B6F6; border-radius: 5px; padding: 0px 5px;">
                                {{ serie.rating }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single__movie-detail-center-download">
                <h3 class="text-slate-950 dark:text-zinc-50">Yuklamoq: </h3>
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-16 rounded-full w-full cursor-not-allowed">
                    Hozircha mavjud emas
                </button>
            </div>
        </div>
        {% include 'series/serie_trailer.html' %}
    </div>
    <!-- VIDEO DETAILS -->

    <h3 class="text-gray-50 text-3xl tracking-wider hidden">Qismlar
        <i class="fa-solid fa-arrow-right text-2xl"></i>
    </h3>
    <!-- EPISODES -->
    <div class="serie__episodes container">
        <div class="serie__episodes-top flex justify-left align-center">
            <a href="{% url 'serie:serie_detail' serie.slug %}" data-serie-id="{{ serie.id }}"
                class="inline-block rounded-lg border-2 border-primary {% if is_main_tag_home %} bg-primary {% endif %} px-6 mr-2 text-xs font-medium capitalize leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out dark:hover:bg-blue-600 dark:active:shadow-dark-strong"
                style="display: inline-block; height: 30px !important; display: flex; justify-content: center; align-items: center;">
                Season 1
            </a>
            {% for number in season_number %}
            <a href="?season-number-got={{number}}" data-serie-id="{{ number }}"
                class="inline-block rounded-lg border-2 border-primary {% if request_episode == number %} bg-primary {% endif %} px-6 mr-2 text-xs font-medium capitalize leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out dark:hover:bg-blue-600 dark:active:shadow-dark-strong"
                style="display: inline-block; height: 30px !important; display: flex; justify-content: center; align-items: center;">
                Season {{ number }}
            </a>
            {% endfor %}
        </div>
        <div class="latest_movies latest_serie-single container">
            <div class="latest_movies-cards latest_series-cards">
                {% for episode in episodes %}
                <div style="width: 18.5%; position: relative; margin-bottom: 30px;"
                    class="latest_movies-cards-top-inner latest_series-cards-top-inner">
                    <div class="latest_movies-cards-inner latest_series-cards-inner">
                        <div class="latest_movies-cards--box latest_series-cards--box"
                            style="background-image: url({{ episode.card.url }});">
                        </div>
                        <a href="#" style="background-color: transparent;" class="click_play serie_click-play">
                            <div class="latest_movies-cards--box-inner latest_series-cards--box-inner">
                                <i class="fa-solid fa-circle-play"></i>
                            </div>
                        </a>

                    </div>
                    <h4 class="text_title truncate text-slate-950 dark:text-zinc-50">{{ episode.title | safe }}</h4>
                    <p class="text-slate-950 dark:text-zinc-50">{{ episode.get_formatted_duration }} <span></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- EPISODES -->

</div>
{% endblock %}