{% extends 'index.html' %}
{% load static %}
{% block title %}Serie Single {% endblock %}

{% block content %}
<div class="single__movie dark:bg-gray-950">
    <!-- VIDEO PLAYER -->
    <div class="single__movie-video_player container">
        <!-- bu yerda har bir fil uchun preview image kerak bo'ladi -->
        <!-- models orqali yaratiladi -->
        <video controls id="videoSingle">
            <source src="{% static 'images/video.mp4' %}" type="video/mp4">
        </video>
        <i class="fa-solid fa-circle-play custom-play"></i>
    </div>
    <!-- VIDEO PLAYER -->

    <!-- VIDEO DETAILS -->
    <div class="single__movie-details dark:bg-gray-900 bg-slate-200 container">
        <div class="single__movie-detail-center">
            <div class="single__movie-detail-center-card" style="background-image: url({{ serie.card.url }});">
            </div>
            <div class="single__movie-detail-center-content border-slate-400 dark:border-slate-800">
                <h4 class="text-slate-950 dark:text-zinc-50">{{ serie.title | safe }}
                    <span data-twe-toggle="modal" data-twe-target="#trailerModalSerie" data-twe-ripple-init
                        data-twe-ripple-color="light" class="trailer_span">
                        <i class="fa-solid fa-play"></i> Trailer
                    </span>
                </h4>
                <p class="text-slate-600 dark:text-slate-400">{{ serie.description }}</p>
                <div class="single__movie-detail-center-content-row">
                    <div class="single__movie-detail-center-content-row-col">
                        <div class="single__movie-detail-center-content-row-col-item">
                            <strong class="text-slate-950 dark:text-zinc-50">Janr: </strong>
                            {% for gen in serie.genre.all %}
                            <a href="#" class="text-cyan-500">
                                {{ gen.name }}
                                {% if not forloop.last %},{% endif %}
                            </a>
                            {% endfor %}
                        </div>
                        <div class="single__movie-detail-center-content-row-col-item">
                            <a href="#" class="text-cyan-500">
                                <strong class="text-slate-950 dark:text-zinc-50">Rejissor: </strong>
                                {{ serie.director }}</a>
                        </div>
                        <div class="single__movie-detail-center-content-row-col-item">
                            <a href="#" class="text-cyan-500">
                                <strong class="text-slate-950 dark:text-zinc-50">Actors: </strong>
                                {{ serie.actors }}</a>
                        </div>
                        <div class="single__movie-detail-center-content-row-col-item">
                            <strong class="text-slate-950 dark:text-zinc-50">Davlati: </strong>
                            {% for con in serie.countries %}
                            <a href="#" class="text-cyan-500">
                                {{ con.code }}
                                {% if not forloop.last %},{% endif %}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="single__movie-detail-center-content-row-col">
                        <div class="single__movie-detail-center-content-row-col-item">
                            <a href="#" class="text-cyan-500">
                                <strong class="text-slate-950 dark:text-zinc-50">Vaqti: </strong>
                                {{ serie.get_formatted_duration }}Nomalum
                            </a>
                        </div>
                        <div class="single__movie-detail-center-content-row-col-item">
                            <strong class="text-slate-950 dark:text-zinc-50">Sifati: </strong>
                            {% for qu in serie.quality.all %}
                            <a href="#"
                                style="color: #fff; background-color: #29B6F6; border-radius: 5px; padding: 0px 5px;">
                                {{ qu.name }}</a>
                            {% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </div>
                        <div class="single__movie-detail-center-content-row-col-item">
                            <a href="#" class="text-cyan-500">
                                <strong class="text-slate-950 dark:text-zinc-50">Chiqish Sanasi: </strong>
                                {{ serie.release_date|date:"Y" }} </a>
                        </div>
                        <div class="single__movie-detail-center-content-row-col-item">
                            <strong class="text-slate-950 dark:text-zinc-50">Rating: </strong>
                            <a href="#"
                                style="color: #fff; background-color: #29B6F6; border-radius: 5px; padding: 0px 5px;">
                                {{ serie.rating }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single__movie-detail-center-download">
                <h3 class="text-slate-950 dark:text-zinc-50">Yuklamoq: </h3>
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-16 rounded-full w-full cursor-not-allowed">
                    Hozircha mavjud emas
                </button>
            </div>
        </div>
        {% include 'series/serie_trailer.html' %}
    </div>
    <!-- VIDEO DETAILS -->


    <!-- EPISODES -->
    <div class="serie__episodes container">
        <div class="serie__episodes-top flex justify-left align-center">
            <a href="#"
                class="inline-block rounded-lg bg-primary px-6 mr-2 pb-2 pt-2.5 text-xs font-medium capitalize leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
                Season 1
            </a>
            <a href="#"
                class="inline-block rounded-lg border-2 border-primary px-6 mr-2 pb-2 pt-2 text-xs font-medium capitalize leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
                Season 1
            </a>
        </div>
    </div>
    <!-- EPISODES -->

</div>
{% endblock %}