{% extends 'index.html' %}
{% load static %}
{% block title %}Episode Watch{% endblock %}

{% block content %}
<div class="single__movie dark:bg-gray-950">
    <!-- VIDEO PLAYER -->
    <div class="single__movie-video_player container">
        <!-- bu yerda har bir fil uchun preview image kerak bo'ladi -->
        <!-- models orqali yaratiladi -->
        <video id="videoSingle">
            {% if episode.video_url %}
            <source src="{{ episode.video_url }}" type="video/mp4">
            {% else %}
            <source src="#" type="video/mp4">
            {% endif %}
        </video>
        <i class="fa-solid fa-circle-play custom-play"></i>
        <div id="controls"
            class="p-5 absolute bottom-0 left-0 w-full transition-opacity duration-300 ease-linear custom_c">
            <!-- PROGRESS BAR -->
            <div id="progress-bar" class="h-1 w-full bg-white cursor-pointer mb-4">
                <div id="progress-indicator" class="h-full w-0 bg-indigo-800 transition-all duration-500 ease-in-out">
                </div>
            </div>
            <div class="flex items-center justify-between">
                <div class="flex items-center justify-between">
                    <!-- REWIND BUTTON -->
                    <button id="rewind" class="transition-all duration-100 ease-linear hover:scale-125">
                        <i class="material-icons text-white text-3xl w-12">replay_10 </i>
                    </button>

                    <!-- PLAY BUTTON -->
                    <button id="play-pause" class="transition-all duration-100 ease-linear hover:scale-125">
                        <i class="material-icons text-white text-5xl inline-block w-12">play_arrow</i>
                    </button>

                    <!-- FAST FORWARD BUTTON -->
                    <button id="fast-forward" class="transition-all duration-100 ease-linear hover:scale-125">
                        <i class="material-icons text-white text-3xl w-12">forward_10 </i>
                    </button>
                </div>

                <div class="flex align-center justify-between">
                    <!-- VOLUME BUTTON -->
                    <button id="volume" class="transition-all duration-100 ease-linear hover:scale-125">
                        <i class="material-icons text-white text-3xl">volume_up</i>
                    </button>
                    <input type="range" id="volumeRange" min="0" max="1" step="0.1" value="1" class="volume-range">
                    <button id="fullscreen" class="transition-all duration-100 ease-linear hover:scale-125">
                        <i class="material-icons text-white text-3xl">fullscreen</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- VIDEO PLAYER -->

    <!-- VIDEO DETAILS -->
    <div class="single__movie-details dark:bg-gray-900 bg-slate-200 container">
        <div class="single__movie-detail-center">
            <div class="single__movie-detail-center-card" style="background-image: url({{ episode.card.url }});">
            </div>
            <div class="single__movie-detail-center-content border-slate-400 dark:border-slate-800">
                <h4 class="text-slate-950 dark:text-zinc-50">{{ episode.title | safe }}
                    <span data-twe-toggle="modal" data-twe-target="#trailerModalSerie" data-twe-ripple-init
                        data-twe-ripple-color="light" class="trailer_span">
                        <i class="fa-solid fa-play"></i> Trailer
                    </span>
                </h4>
                <p class="text-slate-600 dark:text-slate-400">{{ episode.description }}</p>
                <div class="single__movie-detail-center-content-row">
                    <div class="single__movie-detail-center-content-row-col">
                        <div class="single__movie-detail-center-content-row-col-item">
                            <strong class="text-slate-950 dark:text-zinc-50">Janr: </strong>
                            {% for gen in serie.genre.all %}
                            <a href="#" class="text-cyan-500">
                                {{ gen.name }}
                                {% if not forloop.last %},{% endif %}
                            </a>
                            {% endfor %}
                        </div>
                        <div class="single__movie-detail-center-content-row-col-item">
                            <a href="#" class="text-cyan-500">
                                <strong class="text-slate-950 dark:text-zinc-50">Rejissor: </strong>
                                {{ serie.director }}</a>
                        </div>
                        <div class="single__movie-detail-center-content-row-col-item">
                            <a href="#" class="text-cyan-500">
                                <strong class="text-slate-950 dark:text-zinc-50">Actors: </strong>
                                {{ serie.actors }}</a>
                        </div>
                        <div class="single__movie-detail-center-content-row-col-item">
                            <strong class="text-slate-950 dark:text-zinc-50">Davlati: </strong>
                            <a href="#" class="text-cyan-500">
                                {{ serie.countries }}
                            </a>
                            
                        </div>
                    </div>
                    <div class="single__movie-detail-center-content-row-col">
                        <div class="single__movie-detail-center-content-row-col-item">
                            <a href="#" class="text-cyan-500">
                                <strong class="text-slate-950 dark:text-zinc-50">Vaqti: </strong>
                                {{ episode.get_formatted_duration }}
                            </a>
                        </div>
                        <div class="single__movie-detail-center-content-row-col-item">
                            <strong class="text-slate-950 dark:text-zinc-50">Sifati: </strong>
                            {% for qu in serie.quality.all %}
                            <a href="#"
                                style="color: #fff; background-color: #29B6F6; border-radius: 5px; padding: 0px 5px;">
                                {{ qu.name }}</a>
                            {% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </div>
                        <div class="single__movie-detail-center-content-row-col-item">
                            <a href="#" class="text-cyan-500">
                                <strong class="text-slate-950 dark:text-zinc-50">Chiqish Sanasi: </strong>
                                {{ serie.release_date|date:"Y" }} </a>
                        </div>
                        <div class="single__movie-detail-center-content-row-col-item">
                            <strong class="text-slate-950 dark:text-zinc-50">Rating: </strong>
                            <a href="#"
                                style="color: #fff; background-color: #29B6F6; border-radius: 5px; padding: 0px 5px;">
                                {{ serie.rating }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single__movie-detail-center-download">
                <h3 class="text-slate-950 dark:text-zinc-50">Yuklamoq: </h3>
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-16 rounded-full w-full cursor-not-allowed">
                    Hozircha mavjud emas
                </button>
            </div>
        </div>
        {% include 'series/serie_trailer.html' %}
    </div>
    <!-- VIDEO DETAILS -->

    <h3 class="text-gray-50 text-3xl tracking-wider hidden">Qismlar
        <i class="fa-solid fa-arrow-right text-2xl"></i>
    </h3>
    <!-- EPISODES -->
    <div class="serie__episodes container">
        <div class="serie__episodes-top flex justify-left align-center">
            <a href="{% url 'serie:episode' serie.slug episode.id %}" data-serie-id="{{ serie.id }}"
                class="inline-block rounded-lg border-2 border-primary {% if is_main_tag_home %} bg-primary {% endif %} px-6 mr-2 text-xs font-medium capitalize leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out dark:hover:bg-blue-600 dark:active:shadow-dark-strong"
                style="display: inline-block; height: 30px !important; display: flex; justify-content: center; align-items: center;">
                Fasl 1
            </a>
            {% for number in season_number %}
            <a href="?season-number-got={{number}}" data-serie-id="{{ number }}"
                class="inline-block rounded-lg border-2 border-primary {% if request_episode == number %} bg-primary {% endif %} px-6 mr-2 text-xs font-medium capitalize leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out dark:hover:bg-blue-600 dark:active:shadow-dark-strong"
                style="display: inline-block; height: 30px !important; display: flex; justify-content: center; align-items: center;">
                Fasl {{ number }}
            </a>
            {% endfor %}
        </div>
        <div class="latest_movies latest_serie-single container">
            <div class="latest_movies-cards latest_series-cards">
                <div>
                    {% for episode in episodes %}
                    <a href="#"
                        class="inline-block border-1 border-primary bg-primary px-6 mr-2 text-xs leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out dark:hover:bg-blue-600 dark:active:shadow-dark-strong"
                        style="display: inline-block; height: 30px !important; display: flex; justify-content: center; align-items: center; border-radius: 1px !important; text-transform: lowercase !important;">
                        {{ episode.episode_number }}-qism
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- EPISODES -->

</div>
{% endblock %}