@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #06090f;
}
.container {
  max-width: 1280px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.home__carousel {
  width: 100%;
  height: 580px;
  border-radius: 13px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  overflow-y: hidden;
  align-items: center;
  overflow-x: hidden;
  white-space: no-wrap;
  transition: 0.4s all ease;
}
.carousel__item .active {
    opacity: 1 !important;
    transform: translateY(0) !important;
    transition: 1s all ease-in-out !important;
}
.carousel__item p {
    opacity: 0;
    transform: translateY(-20px);
}
.carousel__item {
  width: 100%;
  min-width: 100%;
  height: 100%;
  border-radius: 13px;
  background-color: orange;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #555;
  background-blend-mode: multiply;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 80px;
  transition: 0.3s all ease;
}
.carousel__item-left {
  width: 50%;
}
.carousel__item-left h1 {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 15px;
  letter-spacing: 1.3px;
  transform: translateY(-20px);
  opacity: 0;
  transition: 0.5s all ease-in;
}
.carousel__item-left h1 span {
  -webkit-text-stroke: 1px #fff !important;
  color: transparent;
}
.carousel__item-left .carousel__item-left-p {
  color: #fff;
  font-weight: 500;
  font-size: 19px;
  letter-spacing: 1.1px;
  margin-bottom: 15px;
  transition-delay: 0.2s;
}
.carousel__item-left-p span {
  color: #fff;
  background-color: #28b5f5;
  border-radius: 5px;
  padding: 0px 5px;
  font-size: 15px;
  display: inline-block;
  margin-right: 5px;
}
.carousel__item-left .last_p {
  color: #fff;
  font-weight: 500;
  line-height: 1.7;
  font-size: 19px;
  transition-delay: 0.3s;
}
.carousel__item-left > div {
  display: flex;
  margin: 30px 0px 0px 0px;
}
.carousel__item-left > div a {
  padding: 10px 30px;
  background-color: #28b5f5;
  color: #fff;
  display: inline-block;
  margin-right: 30px;
  border-radius: 10px;
  text-transform: uppercase;
  transition: 0.4s all ease-in-out;
}
.carousel__item-left > div a:hover {
  background-color: #222 !important;
  color: #fff !important;
}
.carousel__item-right a {
    color: #fff;
    font-size: 22px;
    text-transform: capitalize;
    display: flex;
    letter-spacing: 1.5px;
    align-items: center;
    margin-right: 10px;
}
.carousel__item-right i {
    font-size: 40px;
    margin-right: 10px;
}
.carousel__item-right {
  transform: translateY(-10px);
  transition: 1s all ease-in-out;
}.activeC {
  transform: translateY(0) !important;
}

.carousel__item-left > div a:last-child {
  background-color: rgb(255, 88, 88);
}
.effect__transform {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
.home__carousel .fa-chevron-left,
.fa-chevron-right {
  color: #fff;
  position: absolute;
  font-size: 20px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #28b5f5;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s transform ease;
  z-index: 9000;
}
.home__carousel .fa-chevron-right:hover {
    transform: translateX(10px);
}
.home__carousel .fa-chevron-left:hover {
    transform: translateX(-10px);
}
.home__carousel .fa-chevron-right {
    right: 20px;
}
.home__carousel .fa-chevron-left {
    left: 20px;
}
.home__carousel .circle {
  /* position: absolute; */
  color: #fff;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 3px solid #fff;
  border-radius: 50%;
  margin-right: 7px;
  cursor: pointer;
}
.circle_full {
  background-color: #28b5f5;
}
.circle_container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}
/* live at #mancuted */
