@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./media.css";

body {
  background-color: #06090f;
  font-family: "Ubuntu", sans-serif;
}
.container {
  max-width: 1280px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.home__carousel {
  width: 100%;
  height: 580px;
  border-radius: 13px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  overflow-y: hidden;
  align-items: center;
  overflow-x: hidden;
  white-space: no-wrap;
  transition: 0.4s all ease;
}
.carousel__item .active {
  opacity: 1 !important;
  transform: translateY(0) !important;
  transition: 1s all ease-in-out !important;
}
.carousel__item p {
  opacity: 0;
  transform: translateY(-20px);
}
.carousel__item {
  width: 100%;
  min-width: 100%;
  height: 100%;
  border-radius: 13px;
  background-color: orange;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #555;
  background-blend-mode: multiply;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 80px;
  transition: 0.3s all ease;
}
.carousel__item-left {
  width: 50%;
}
.carousel__item-left h1 {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 15px;
  letter-spacing: 1.3px;
  transform: translateY(-20px);
  opacity: 0;
  transition: 0.5s all ease-in;
}
.carousel__item-left h1 span {
  -webkit-text-stroke: 1px #fff !important;
  color: transparent;
}
.carousel__item-left .carousel__item-left-p {
  color: #fff;
  font-weight: 500;
  font-size: 19px;
  letter-spacing: 1.1px;
  margin-bottom: 15px;
  transition-delay: 0.2s;
}
.carousel__item-left-p span {
  color: #fff;
  background-color: #28b5f5;
  border-radius: 5px;
  padding: 0px 5px;
  font-size: 15px;
  display: inline-block;
  margin-right: 5px;
}
.carousel__item-left .last_p {
  color: #fff;
  font-weight: 500;
  line-height: 1.7;
  font-size: 19px;
  transition-delay: 0.3s;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  height:60px;
;
}
.carousel__item-left > div {
  display: flex;
  margin: 30px 0px 0px 0px;
}
.carousel__item-left > div a {
  padding: 10px 30px;
  background-color: #28b5f5;
  color: #fff;
  display: inline-block;
  margin-right: 30px;
  border-radius: 10px;
  text-transform: uppercase;
  transition: 0.4s all ease-in-out;
}
.carousel__item-left > div a:hover {
  background-color: #222 !important;
  color: #fff !important;
}
.carousel__item-right a {
  color: #fff;
  font-size: 22px;
  text-transform: capitalize;
  display: flex;
  letter-spacing: 1.5px;
  align-items: center;
  margin-right: 10px;
}
.carousel__item-right i {
  font-size: 40px;
  margin-right: 10px;
}
.carousel__item-right {
  transform: translateY(-10px);
  transition: 1s all ease-in-out;
}
.activeC {
  transform: translateY(0) !important;
}

.carousel__item-left > div a:last-child {
  background-color: rgb(255, 88, 88);
}
.effect__transform {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
.home__carousel .fa-chevron-left,
.fa-chevron-right {
  color: #fff;
  position: absolute;
  font-size: 20px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #28b5f5;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s transform ease;
  z-index: 9000;
}
.home__carousel .fa-chevron-right:hover {
  transform: translateX(10px);
}
.home__carousel .fa-chevron-left:hover {
  transform: translateX(-10px);
}
.home__carousel .fa-chevron-right {
  right: 20px;
}
.home__carousel .fa-chevron-left {
  left: 20px;
}
.home__carousel .circle {
  /* position: absolute; */
  color: #fff;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 3px solid #fff;
  border-radius: 50%;
  margin-right: 7px;
  cursor: pointer;
}
.circle_full {
  background-color: #28b5f5;
}
.circle_container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}
.latest_movies-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px 20px 0px;
}
.latest_movies-top h3 {
  color: #fff;
  text-transform: capitalize;
  font-size: 26px;
}
.latest_movies a {
  padding: 6px 14px;
  background-color: #28b5f5;
  color: #fff;
  text-transform: uppercase;
  color: #fff;
  border-radius: 15px;
  letter-spacing: 1.3px;
  transition: 0.5s all ease;
}
.latest_movies-top a:hover {
  background-color: rgba(40, 181, 245, 0.7);
}
.home__navigation-end .fa-bars {
  display: none;
}
.latest_movies-cards {
  width: 100%;
  flex-wrap: wrap;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  margin: 0px 0px 100px 0px;
  gap: 23px;
}
.latest_movies-cards-inner {
  width: 100%;
  height: 350px;
  max-width: 100%;
  max-height: 350px;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}
.latest_movies-cards--box-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: 0.5s all ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.latest_movies-cards--box-inner i {
  color: #28b5f5;
  font-size: 70px;
}
.latest_movies-cards--box {
  width: 100%;
  height: 100%;
  background-color: orange;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  background-color: #666;
  background-blend-mode: multiply;
  transition: 0.5s all ease;
  position: relative;
}
.latest_movies-cards-top-inner:hover .latest_movies-cards--box {
  transform: scale(1.1);
  filter: blur(3px);
}
.latest_movies-cards-top-inner:hover .latest_movies-cards--box-inner {
  z-index: 100;
  opacity: 1;
}
.latest_movies-cards > div h4 {
  color: #fff;
  font-size: 21px;
  margin: 6px 0px 3px 0px;
  letter-spacing: 1.2px;
}
.latest_movies-cards > div p {
  color: #fff;
  font-weight: 600;
}
.latest_movies-cards span {
  display: inline-block;
  margin-left: 14px;
  color: #28b5f5;
  font-weight: 500;
  cursor: pointer;
}
.latest_movies-cards > div .hd_movie-badge {
  color: #fff;
  font-weight: 700;
  background-color: #28b5f5;
  padding: 0px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 10px;
  font-size: 14px;
}
.navbar-scrolled {
  background-color: rgb(10, 13, 20);
  transition: background-color 0.3s ease;
  position: fixed;
  transform: translateY(-5px);
  top: 0;
  z-index: 10000;
  box-shadow: 0px 2px 2px 2px rgb(10, 13, 20);
}
.home__navigation-wrapper {
  transition: 0.5s all ease;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
