{% extends 'index.html' %}
{% load cache %}
{% block title %}Barcha tarjima filmlar{% endblock %}

{% block content %}
<div class="movies__list dark:bg-black bg-neutral-100">
    <div class="movies__list-top-wrapper dark:bg-slate-900 bg-white">
        <form method="get" class="movies__list-top container">
            <div class="relative flex justify-center items-center movies__list-top-inner">
                <div class="movies__list-top-input">
                    <input type="text"
                        style="height: 45px; border-width:1px; border-radius: 10px; transition: 0.5s all ease; width: 100%;"
                        class="dark:border-slate-700 border-lime-950 dark:bg-slate-800 bg-white px-3 py-[0.32rem] leading-[1.6] focus:outline-none focus:ring focus:border-blue-500 transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none text-gray dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary"
                        placeholder="Qidiring" name="search__movie" />
                    <i class="fa-solid fa-search"></i>
                </div>
                <div class="movies__list-select-1">
                    <select style="border-width: 1px; border-radius: 10px; width: 170px;" name="filter__movie-quality"
                        class="select__filter-movie dark:border-slate-700 border-slate-900 dark:bg-slate-800 bg-white dark:text-neutral-300 text-gray ml-6">
                        <option value="">Sifati</option>
                        <option value="hd">HD</option>
                        <option value="4k">4K</option>
                        <option value="cam">CAM</option>
                    </select>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="movies__list-select-1">
                    <select style="border-width: 1px; border-radius: 10px; width: 170px;" name="filter__movie-sort"
                        class="select__filter-movie dark:border-slate-700 border-slate-900 dark:bg-slate-800 bg-white dark:text-neutral-300 text-gray ml-6">
                        <option value="">Saralash</option>
                        <option value="latest">Oxirgilar</option>
                        <option value="trending">Ommabop</option>
                        <option value="viewed">Ko'p ko'rilgan</option>
                    </select>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
            <button type="submit"
                class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"
                style="height: 45px;">
                Filter
            </button>
        </form>
    </div>
    <div class="latest_movies movies__list-wrapper container" style="margin-top: 80px;">
        <div class="latest_movies-cards movies__list-cards">
            {% cache 100 movies_list_key %}
            <div>
                {% for movie in page_obj %}
                <div style="width: 18.5%; position: relative; margin-bottom: 50px;"
                    class="latest_movies-cards-top-inner">
                    <div class="latest_movies-cards-inner">
                        <div class="latest_movies-cards--box"
                            style="background-image: url({{ movie.card_poster.url }});">
                        </div>
                        <a href="{% url 'movie:single' movie.slug %}" style="background-color: transparent;"
                            class="click_play">
                            <div class="latest_movies-cards--box-inner">
                                <i class="fa-solid fa-circle-play"></i>
                            </div>
                        </a>
                    </div>
                    <h4 class="text_title truncate text-slate-950 dark:text-zinc-50">{{ movie.title | safe }}</h4>
                    <p class="text-slate-950 dark:text-zinc-50">{{ movie.get_formatted_duration }} <span>
                            {% for gen in movie.genre.all %}
                            {{ gen.name }}
                            {% endfor %}
                        </span></p>
                    {% for gen in movie.quality.all %}
                    <span class="hd_movie-badge text-slate-950 dark:text-zinc-50">{{ gen.name }}</span>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            {% endcache %}
        </div>
        <div class="flex items-center gap-2 justify-center">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"
                class="flex items-center gap-1 px-6 py-3 font-sans text-xs font-bold text-center text-white uppercase align-middle transition-all rounded-full select-none">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" aria-hidden="true" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
                </svg>
            </a>
            {% else %}
            <a class="flex items-center gap-1 px-6 py-3 font-sans text-xs font-bold text-center text-gray uppercase align-middle transition-all rounded-full select-none disabled"
                disabled style="background-color: #1c6586;">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" aria-hidden="true" class="w-4 h-4" disabled>
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"
                        disabled></path>
                </svg>
            </a>
            {% endif %}

            <div class="flex items-center gap-2">
                {% for num in page_obj.paginator.page_range %}
                <button
                    class="relative h-10 max-h-[40px] w-10 max-w-[40px] select-none rounded-full text-center align-middle font-sans text-xs font-medium uppercase text-white transition-all hover:bg-gray-900/10 active:bg-gray-900/20 {% if num == page_obj.number %}bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none{% endif %}"
                    type="button">
                    <a href="?page={{ num }}">
                        <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">{{ num }}</span>
                    </a>
                </button>
                {% endfor %}
            </div>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"
                class="flex items-center gap- px-6 py-3 font-sans text-xs font-bold text-center text-white uppercase align-middle transition-all rounded-full select-none">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" aria-hidden="true" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3">
                    </path>
                </svg>
            </a>
            {% else %}
            <a class="flex items-center gap-1 px-6 py-3 font-sans text-xs font-bold text-center text-white uppercase align-middle transition-all rounded-full select-none"
                style="background-color: #1c6586;">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" aria-hidden="true" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3">
                    </path>
                </svg>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}