.movies__list {
  width: 100%;
  height: auto;
  position: relative;
  border-top: 2px solid rgba(50, 205, 50, 0.8);
  margin-top: -2px;
}
.movies__list-top-wrapper {
    width: 100%;
    height: auto;
}
.movies__list-top {
  width: 100%;
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}
.movies__list-top-input {
  position: relative;
  height: 45px;
}
.movies__list-top-input i {
  position: absolute;
  right: 5px;
  top: 0;
  color: #28b5f5;
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select__filter-movie {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select__filter-movie option {
    margin-bottom: 14px;
    padding-bottom: 14px;
    display: inline-block;
    height: 45px;
}
.movies__list-select-1 {
    height: 45px;
    position: relative;
}
.movies__list-select-1 i {
    position: absolute;
    width: 50px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 2px;
    top: 0;
    color: #28b5f5;
    font-size: 14px;
}
.movies__list-cards > div {
  flex-wrap: wrap !important;
}
.movies__list .latest_movies-cards--box {
  filter: brightness(100%);
}