{% load static %}
<div class="home__carousel container">
    <i class="fa-solid fa-chevron-left"></i>
    <div class="carousel__item" style="background-image: url({% static 'images/movie.jpg' %});">
        <div class="carousel__item-left">
            <h1 class="active">Harry potter 
                <span>hogwarts</span>
                legacy</h1>
            <p class="carousel__item-left-p active">
                <span>
                    <i class="fa-regular fa-star"></i>
                    9.5
                </span>
                IMDB 2023 3h 15min Fantasy, Crime
            </p>
            <p class="last_p active">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, accusantium sequi atque
                possimus ipsa
                laborum velit at odit?</p>
            <div class="a_wrapper active" style="opacity: 0; transform: translateY(-20px); transition: 2s all ease;">
                <a href="#">
                    <i class="fa-solid fa-play mr-1"></i>
                    Ko'rish</a>
                <a href="#">
                    <i class="fa-brands fa-telegram mr-1"></i>
                    Telegram orqali ko'rish</a>
            </div>
        </div>
        <div class="carousel__item-right">
            <a href="#">
                <i class="fa-brands fa-youtube"></i>
                watch trailer
            </a>
        </div>
    </div>
    <div class="carousel__item" style="background-image: url({% static 'images/movie.jpg' %});">
        <div class="carousel__item-left">
            <h1 class="">Harry potter 
                <span>hogwarts</span>
                legacy</h1>
            <p class="carousel__item-left-p">
                <span>
                    <i class="fa-regular fa-star"></i>
                    9.5
                </span>
                IMDB 2023 3h 15min Fantasy, Crime
            </p>
            <p class="last_p ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, accusantium sequi atque
                possimus ipsa
                laborum velit at odit?</p>
            <div class="a_wrapper" style="opacity: 0; transform: translateY(-20px); transition: 2s all ease;">
                <a href="#">
                    <i class="fa-solid fa-play mr-1"></i>
                    Ko'rish</a>
                <a href="#">
                    <i class="fa-brands fa-telegram mr-1"></i>
                    Telegram orqali ko'rish</a>
            </div>
        </div>
        <div class="carousel__item-right">
            <a href="#">
                <i class="fa-brands fa-youtube"></i>
                watch trailer
            </a>
        </div>
    </div>
    <div class="carousel__item" style="background-image: url({% static 'images/movie.jpg' %});">
        <div class="carousel__item-left">
            <h1 class="">Harry potter 
                <span>hogwarts</span>
                legacy</h1>
            <p class="carousel__item-left-p">
                <span>
                    <i class="fa-regular fa-star"></i>
                    9.5
                </span>
                IMDB 2023 3h 15min Fantasy, Crime
            </p>
            <p class="last_p ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, accusantium sequi atque
                possimus ipsa
                laborum velit at odit?</p>
            <div class="a_wrapper" style="opacity: 0; transform: translateY(-20px); transition: 2s all ease;">
                <a href="#">
                    <i class="fa-solid fa-play mr-1"></i>
                    Ko'rish</a>
                <a href="#">
                    <i class="fa-brands fa-telegram mr-1"></i>
                    Telegram orqali ko'rish</a>
            </div>
        </div>
        <div class="carousel__item-right">
            <a href="#">
                <i class="fa-brands fa-youtube"></i>
                watch trailer
            </a>
        </div>
    </div>

    <i class="fa-solid fa-chevron-right"></i>
</div>