{% load static %}
<div class="latest_movies container">
    <div class="latest_movies-top">
        <h3>latest movies</h3>
        <a href="#">view all</a>
    </div>
    <div class="latest_movies-cards">
        {% for movie in latest_movies %}
        <div style="width: 18.5%; position: relative; margin-bottom: 30px;" class="latest_movies-cards-top-inner">
            <div class="latest_movies-cards-inner">
                <div class="latest_movies-cards--box" style="background-image: url({{ movie.card_poster.url }});">
                </div>
                <a href="/" style="background-color: transparent;">
                    <div class="latest_movies-cards--box-inner">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </a>

            </div>
            <h4 class="text_title truncate">{{ movie.title | safe }}</h4>
            <p>{{ movie.get_formatted_duration }} <span>
                    {% for gen in movie.genre.all %}
                    {{ gen.name }}
                    {% endfor %}
                </span></p>
            {% for gen in movie.quality.all %}
                <span class="hd_movie-badge">{{ gen.name }}</span>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>