{% load static %}
<!-- MOVIES -->
<div class="latest_movies container">
    <div class="latest_movies-top">
        <h3 class="text-slate-950 dark:text-zinc-50">latest movies</h3>
        <a href="{% url 'movie:movies_list' %}" class="text-zinc-50">view all</a>
    </div>
    <div class="swiper latest_movies-cards latest_movies-swiper">
        <div class="swiper-wrapper">
            {% for movie in latest_movies %}
            <div style="width: 18.5% !important; position: relative; margin-bottom: 30px;"
                class="latest_movies-cards-top-inner swiper-slide">
                <div class="latest_movies-cards-inner">
                    <div class="latest_movies-cards--box" style="background-image: url({{ movie.card_poster.url }});">
                    </div>
                    <a href="{% url 'movie:single' movie.slug %}" style="background-color: transparent;"
                        class="click_play">
                        <div class="latest_movies-cards--box-inner">
                            <i class="fa-solid fa-circle-play"></i>
                        </div>
                    </a>

                </div>
                <h4 class="text_title truncate text-slate-950 dark:text-zinc-50">{{ movie.title | safe }}</h4>
                <p class="text-slate-950 dark:text-zinc-50">{{ movie.get_formatted_duration }} <span>
                        {% for gen in movie.genre.all %}
                        {{ gen.name }}
                        {% endfor %}
                    </span></p>
                {% for gen in movie.quality.all %}
                <span class="hd_movie-badge text-slate-950 dark:text-zinc-50">{{ gen.name }}</span>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- MOVIES -->
<style>
    .text_title span {
        color: #fff;
        font-weight: 400;
        margin-left: 0;
    }
</style>
<!-- SERIES -->
<div class="latest_movies container">
    <div class="latest_movies-top">
        <h3 class="text-slate-950 dark:text-zinc-50">latest series</h3>
        <a href="#" class="text-zinc-50">view all</a>
    </div>
    <div class="latest_movies-cards">
        <div>
            {% for serie in latest_series %}
            <div style="width: 18.5%; position: relative; margin-bottom: 30px;" class="latest_movies-cards-top-inner">
                <div class="latest_movies-cards-inner">
                    <div class="latest_movies-cards--box" style="background-image: url({{ serie.card.url }});">
                    </div>
                    <a href="{% url 'serie:serie_detail' serie.slug %}" style="background-color: transparent;"
                        class="click_play">
                        <div class="latest_movies-cards--box-inner">
                            <i class="fa-solid fa-circle-play"></i>
                        </div>
                    </a>

                </div>
                <h4 class="text_title truncate text-slate-950 dark:text-zinc-50">{{ serie.title | safe }}</h4>
                <p class="text-slate-950 dark:text-zinc-50" style="margin: 0;"><span style="margin-left: 0;">
                        {% for gen in serie.genre.all %}
                        {{ gen.name }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </span></p>
                {% for gen in serie.quality.all %}
                <span class="hd_movie-badge text-slate-950 dark:text-zinc-50">{{ gen.name }}</span>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- SERIES -->