<div class="home__navigation container py-4 px-2">
    <a href="#" class="home__nav-logo">
        <i class="fa-regular fa-circle-play"></i>
        lo<span>g</span>o
    </a>
    <ul class="home__navigation-center flex just-content-center align-items-center m-0 p-0">
        <li>
            <a href="#">Bosh Sahifa</a>
        </li>
        <li class="nav__janr">
            <a href="#">Janr
                <i class="fa-solid fa-chevron-down"></i>
            </a>
            <div class="dropdown__janr">
                <ul>
                    <li>
                        <a href="#">Action</a>
                    </li>
                    <li>
                        <a href="#">Animation</a>
                    </li>
                    <li>
                        <a href="#">Adventure</a>
                    </li>
                    <li>
                        <a href="#">Biography</a>
                    </li>
                    <li>
                        <a href="#">Comedy</a>
                    </li>
                    <li>
                        <a href="#">Crime</a>
                    </li>
                    <li>
                        <a href="#">Documentary</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#">Ommabop
                <i class="fa-solid fa-chevron-down"></i>
            </a>
        </li>
        <li>
            <a href="#">Eng Oxirgilar
                <i class="fa-solid fa-chevron-down"></i>
            </a>
        </li>
        <li>
            <a href="#">Seriallar
                <i class="fa-solid fa-chevron-down"></i>
            </a>
        </li>
        <li>
            <a href="#">Kinolar
                <i class="fa-solid fa-chevron-down"></i>
            </a>
        </li>
    </ul>
    <div class="home__navigation-end flex justify-center items-center">
        <i class="fa-solid fa-search text-stone-50 mr-6 text-xl cursor-pointer"></i>
        <i class="fa-solid fa-sun text-stone-50 text-xl cursor-pointer"></i>
    </div>
</div>